.home{
    background-image: url("../assets/Homebg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    >div{
        max-width: var(--container-max-width);
        margin: auto;
        min-height: calc(100vh - 3rem);
        background: linear-gradient(90deg, transparent 20%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        font-family: sans-serif;

        h1{
            font-size: 4rem;

            span{
                color: orange;
            }
        }

        p{
            font-size: 1.5rem;
        }

        a{
            background: orange;
            color: black;
            padding: 10px 20px;
            text-decoration: none;
        }

        a:hover{
            background: rgb(219, 142, 0);
        }
    }
}